body {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 50px;
  max-width: 800px;
  max-height: 1700px;
  display: block;
  margin: 0 auto;
  border-style: solid;
  border-radius: 30px;
  border-color: #ab47bc;
  background: seashell;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 1000px;
  color: blueviolet;
  font-size: 50px;
  padding-top: 70px;
  text-align: center;
}
h2 {
  color: #e94363;
  padding-top: 80px;
}
h3 {
  font-size: 100px;
  padding-top: 50px;
}
h4 {
  padding-top: 50px;
  color: #e94363;
}
a {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  display: inline-block;
  color: blueviolet;
}

button {
  padding: 30px;
  margin: 2px;
}
li {
  list-style: none;
}

.row {
  color: blueviolet;
}



.info {
  color: blueviolet;
}
.current {
  font-size: 30px;
  padding: 0 auto;
  color: blueviolet;
}
.days {
  padding-top: 40px;
  font-size: 20px;
  color: #e94363;
}
.temperature {
  color: blueviolet;
}
.btn-primary {
  text-align: center;
  right: 330px;
  top: 70px;
  background: white;
  color: #e94363;
  border-color: #ed83a1;
  border-radius: 30px;
}
.form-control {
  text-align: left;
  border-radius: 30px;
  border-color: #e94363;
}

#description {
  text-transform: capitalize;
}

.units .active {
  font-size: 18px;
  color: blueviolet;
  cursor: default;
  text-decoration: none;
}
.units .active:hover {
  text-decoration: none;
}

#details {
  margin-left: -15px;
}
